/*
Template: Enerzee - Renewable Energy WordPress Landing Page
Author: iqonic.design
Version: 1.4.1
Design and Developed by: iqonic.design
*/
@media only screen and (min-device-width:1601px) and (max-device-width:2048px) {
	.iq-background-details { bottom: -190px; }
}
@media(max-width:1399px) {
	.iq_background_list_wrapper .iq_background_list_column .title-color { font-size: 28px; }
	.iq-background-details { bottom: -220px; }
	.iq_background_list_column { min-height: 55vh; }
	header .sub-header { padding: 10px 30px }
	.owl-carousel .owl-nav .owl-prev { left: -50px; }
	.owl-carousel .owl-nav .owl-next { right: -50px; }
	header .navbar ul li { margin-right: 20px; }

	/* wwocomerce header */
	header ul.shop_list {margin-left: 20px;}
}
@media(max-width:1365px) {
	header .sub-header { padding: 0px 15px }
	header .navbar ul li a { font-size: 14px }
	header .navbar ul li .sub-menu li a { padding: 5px 15px; }
	.admin-bar header.two.menu-sticky .main-header { padding: 0px 15px; }
	.owl-carousel .owl-nav .owl-next { right: -10px; }
	.owl-carousel .owl-nav .owl-prev { left: -10px; }
	.slick-slider .slick-prev {left: 10px !important;}
	.slick-slider .slick-next {right: 10px !important;}
}

@media(max-width:1299px) {
	.iq-style-one-services {padding: 15px;}
	header.style-one li .search-box .search-submit, header.style-one li .search-box input[type="search"] { right: -10px; }
}
@media only screen and (max-width: 1240px) and (min-width: 1025px)  {
	.iq-style-one-services {padding: 15px; min-height: 360px;}

}
@media(max-width:1199px) {
	header.header-three .sub-header-three { margin-right: 30px; }
	header .navbar ul li { margin-right: 15px; }
	.widget.widget_nav_menu ul li .sub-menu, .widget ul.menu li .sub-menu { padding-left: 10px }
	table td, table th { padding: 5px; text-align: center }
	.comment-respond .comment-form-author, .comment-respond .comment-form-email, .comment-respond .comment-form-url { width: 31.6%; }
	.iq-background-details { bottom: -255px; }
	.iq_background_list_column { min-height: 45vh; }
	header .navbar ul li .sub-menu, header .navbar ul li:hover .sub-menu { width: 180px; }
	header .navbar-light .navbar-brand img.logo { width: 150px; }
	header.menu-sticky .navbar-light .navbar-brand img.logo { width: 150px; }
	footer.footer-one .widget h4.footer-title { font-size: 1.4em; }
	.iq-style-one-services {padding: 15px;}

	/* wwocommerce */
	header.two .number-info:before, header.two .shop_list:before { display: none; }
	.woocommerce .products li.product.last, .woocommerce-page .products li.last { margin-right: 30px; }
	.woocommerce .products li.product:nth-child(3n) { margin-right: 0; }
	.woocommerce .products.columns-4{    
		margin-right: -30px;
		padding: 0;
		margin-left: 0.4em; display: flex;
		flex-flow: row wrap;}
	
	.woocommerce .products.columns-4 li.product {    width: calc(33.33333% - 30px);
		display: flex;
		align-items: center;
		flex-flow: column nowrap;
		margin: 0 30px 30px 0 !important;
		padding: 0;}
	.woocommerce ul.products li.first, .woocommerce-page ul.products li.first { clear: right; }
	.woocommerce .related.products .products.columns-4 li.product { margin-bottom: 30px; }


	/* w00commerce-header */
	header .navbar .sub-main ul.shop_list li {margin-right: 20px;}
	#mega-menu-wrap-top #mega-menu-top > li.mega-menu-megamenu > ul.mega-sub-menu {width: 900px;left: -90px;}
	header ul.shop_list li.search-btn {margin-left: 0px;}
	header ul.shop_list li.wishlist-btn {padding-left: 0px;}
}
@media only screen and (device-width:1024px) {
	header .navbar ul li { margin-right: 20px; }
	.iq_background_list_wrapper .iq_background_list_column .iq_background_list_content { padding: 45px 15px; }
	.iq_background_list_wrapper .iq_background_list_column .title-color { font-size: 24px; }
}
@media(max-width:1024px) {
	section .elementor-column-gap-default>.elementor-row>.elementor-element-d2e5432>.elementor-element-populated, section .elementor-column-gap-default>.elementor-row>.elementor-element-9a53d22 >.elementor-element-populated { padding: 0 15px; }
	.iq-enerzee-price-3.active { transform: scale(1); }
	.iq-style-one-services {padding: 30px; min-height: auto;}
}
@media(max-width:992px) {
	header .btn--search-close { top: 10%; }
	header .navbar ul li:last-child { margin-left: 0; }
	header.style-one.style-two ul li .sub-menu, header.style-one.style-two .navbar ul li:hover .sub-menu { background: #1e1e1e; }
	header.menu-sticky .main-header { padding: 15px; }
	header .navbar .navbar-nav li .sub-menu li a, header .navbar ul li .sub-menu li .sub-menu li.menu-item a { background: transparent; }
	header .navbar ul li .sub-menu li:hover>.sub-menu, header .navbar .navbar-nav li .sub-menu li:hover>.sub-menu { padding: 0 15px; }
	header .main-header { z-index: 99; padding: 15px 15px; }
	header .navbar-light .navbar-brand img.logo { width: 180px; }
	header.menu-sticky .navbar-light .navbar-brand, header.menu-sticky .navbar ul li a { line-height: normal; }
	header.menu-sticky .navbar-light .navbar-brand img.logo { width: 180px; }
	header .navbar-light .navbar-toggler { background: #4daf40; color: #ffffff; border-color: #4daf40; padding: 0.25rem .50rem; position: absolute; right: 0px; top: 6px; }
	header .navbar-light .navbar-toggler { right: 0px; top: 3px; }
	header .navbar-light .navbar-toggler:focus { outline: none }
	header .navbar-collapse { position: absolute; top: 62px; line-height: 0; left: 0; display: inline-block; width: 100%; -webkit-box-shadow: 0px 10px 30px 0px rgba(31, 35, 50, 0.2); -moz-box-shadow: 0px 10px 30px 0px rgba(31, 35, 50, 0.2); box-shadow: 0px 10px 30px 0px rgba(31, 35, 50, 0.2) }
	header.menu-sticky .navbar-collapse { top: 62px; }
	header .navbar ul { float: left; display: inline-block; width: 100%; background: #ffffff; }
	header .navbar ul li.current-menu-parent>a { background: #4daf40; color: #ffffff; }
	header .navbar ul li, header .navbar ul.sub-menu li { margin-right: 0; display: inline-block; position: relative; width: 100%; }
	header .navbar ul li a { color: #313e5b; line-height: normal; display: inline-block; width: 100%; font-size: 16px; padding: 15px; z-index: inherit; text-align: left; }
	header .navbar ul li a:before { border-radius: 0 }
	header .navbar ul li .sub-menu, header .navbar ul li:hover .sub-menu { display: none; background: #f6f6f6; position: relative; top: 0; width: 100%; padding: 0px; z-index: 9; box-shadow: none; }
	header .navbar ul li .sub-menu li a { color: #1e1e1e; padding: 10px 15px; }
	header .navbar ul li i { display: block; position: absolute; right: 0; top: 0; padding: 12px 15px; line-height: 28px; font-size: 20px; z-index: 9; color: #313e5b; transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -ms-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; -webkit-transition: all 0.3s ease-in-out }
	header .navbar ul li.current-menu-item i, header .navbar ul li.current-menu-parent i { color: #ffffff }
	header.menu-sticky .main-header .navbar ul li a { line-height: normal; text-align: left; }
	header.menu-sticky .main-header .navbar ul li:hover .sub-menu { top: 0 }
	header .navbar ul li .sub-menu li i { top: 0; right: 0; color: #313e5b; }
	header .navbar ul li .sub-menu li:hover>.sub-menu { width: 100%; background: #f6f5f7; position: relative; left: 0; box-shadow: none; padding: 0px; }
	header .navbar ul li .sub-menu li i:before { content: "\f107" }
	header .navbar ul li a:before { display: none }
	header .navbar ul li.current-menu-item a, header .navbar ul li a:hover { background: #4daf40; text-align: left; color: #ffffff; }
	header.style-one .navbar-brand { line-height: 0; }
	header.style-one li .search-box .search-submit { top: 0; right: 0px; position: relative; }
	header.style-one li .search-box .search-submit i { color: #313e5b; }
	header.style-one li .search-box input[type="search"] { right: 0; top: 15px; }
	header .menu-main-menu-container { max-height: 330px; overflow-y: scroll; overflow-x: hidden; }
	header.style-one.style-two .navbar ul li.current-menu-item a, header.style-one.style-two .navbar ul li a:hover { color: #ffffff; }
	header.style-one.style-two .navbar ul li .sub-menu li:hover, header.style-one.style-two .navbar ul li a:hover, header.style-one.style-two .navbar ul li.current-menu-item a, header.style-one.style-two .navbar ul li.current-menu-parent a, header.style-one.style-two .navbar ul li.current-menu-parent i, header.style-one.style-two .navbar ul li.current-menu-item i { color: #ffffff; }
	header.style-one.style-two .navbar ul li.current-menu-parent>a, header.style-one.style-two .navbar ul li .sub-menu li.current-menu-item a { background: #4daf40; color: #ffffff; }
	header.style-one .blue-btn.button { position: inherit; padding: 6px 20px; }
	h2 { font-size: 2rem }
	.pricing-tab { margin: 0; }
	#iq-enerzee-price { margin-top: 90px; padding: 15px; }
	.iq-feature-circle { display: block; }
	#iq-enerzee-price .tab-content > .tab-pane { display: inline-block; position: relative; left: 0; top: 0; margin: 0 0 60px; }
	.site-main .sf-content>.vc_row.wpb_row.vc_row-fluid, .content-area .site-main, .home.blog .content-area .site-main { padding: 70px 0 }
	.widget_calendar .calendar_wrap table th, .widget_calendar .calendar_wrap table td { padding: 5px }
	.commentlist .comment-respond .comment-form-author, .comment-respond .comment-form-email, .comment-respond .comment-form-url { width: 31.6% }
	.iq-mt-120 { margin-top: 60px; }
	.iq-breadcrumb .title { font-size: 38px; }
	.widget_calendar .calendar_wrap table th, .widget_calendar .calendar_wrap table td { padding: 2px }
	.commentlist .comment-respond .comment-form-author, .comment-respond .comment-form-email, .comment-respond .comment-form-url, .comment-respond .comment-form-author, .comment-respond .comment-form-email, .comment-respond .comment-form-url { width: 100%; margin-right: 0 }
	.comment-form-cookies-consent label { margin-top: -32px }
	.iq-counter .timer { font-size: 52px; line-height: 62px; }
	.elementor .left_img img { max-width: 100%; left: 0; }
	.iq-enerzee-price-2 .iq-enerzee-price-info { padding: 30px 15px; }
	.owl-carousel.blog-carousel { margin: 0; }
	.iq_background_list_wrapper { float: left; width: 100%; display: inline-block; }
	.iq_background_list_wrapper.four_columns .iq_background_list_column { -ms-flex: 0 0 100%; flex: 0 0 100%; max-width: 100%; }
	.iq-background-details { bottom: 0; }
	.iq_background_list_wrapper .button { position: relative; }
	.iq_background_list_wrapper .iq_background_list_column.hover { border-bottom: none; }
	.iq_background_list_wrapper .iq_background_list_content .iq_background_list_title { margin-bottom: 15px; }
	.iq_background_list_wrapper .iq_background_list_column.hover .iq_background_list_link, .iq_background_list_wrapper .iq_background_list_column.hover .iq_background_list_link, .iq_background_list_wrapper .iq_background_list_column:hover .iq_background_list_link, .iq_background_list_wrapper .iq_background_list_column.hover .iq_background_list_title, .iq_background_list_wrapper .iq_background_list_column:hover .iq_background_list_title { -moz-transform: translateY(0px); -ms-transform: translateY(0px); -webkit-transform: translateY(0px); transform: translateY(0); }
	.iq_background_list_wrapper .iq_background_list_column { border-right: none; border-bottom: 1px solid rgba(255, 255, 255, 0.5); min-height: auto; overflow: hidden; text-align: center; -ms-flex: 0 0 100%; flex: 0 0 100%; max-width: 100%; }
    .page-numbers{margin-bottom: 30px;} 

	header li .search-box .search-submit {top: -20px;}
	header.style-one li .search-box .search-submit {right: -6px; }
	header.style-one li .search-box .search-submit i { color: var(--secondary-color); }
	header.style-one li .search-box input[type="search"] {right: 0;top: -5px; }

	header .navbar .sub-main .blue-btn.button a {font-size: 14px;line-height: 0px;padding-left: inherit;padding-left: 0px; padding-right: 0px;}

	header .navbar .sub-main  .blue-btn.button {right: 3%;}

	/* Woocommerce Header */
	header ul.shop_list {margin-left: 0px;background: none !important;position: relative;width: auto;right: 60px;top: 0;}
	header ul.shop_list li .search-box .search-submit {top: -45px;right: 0px;}
	header ul.shop_list li.cart-btn .cart_count a:hover {color: var(--primary-color);}
	header .navbar .sub-main ul.shop_list li.wishlist-btn a, header .navbar .sub-main ul.shop_list li.wishlist-btn a:hover{background: transparent; color: var(--primary-color);  text-align: center; padding: 0;}
	header .navbar .sub-main ul.shop_list .blue-btn.button a{line-height: 0px;}
	header .sub-main .shop_list li a#btn-search { padding: 0; }
	header .sub-main .shop_list li a i { position: relative; padding: 0; }
	header .navbar .sub-main ul.shop_list li { position: relative; right: 0; width: auto; top: 0px; vertical-align: middle; }

    /*Woocommerce  */
	.wishlist_table.mobile{padding-left: 0;}
	.wishlist_table.mobile li .item-details table.item-details-table{width: auto;}
	.wishlist_table.mobile li table.additional-info{width: auto;}
	.wishlist_table.mobile li .additional-info-wrapper .product-remove {text-align: left;}
	.woocommerce a.button.alt{margin: 0 !important;}
	.wishlist_table.mobile li {margin-bottom: 20px;}
	.wishlist_table.mobile li .additional-info-wrapper .product-add-to-cart {text-align: center;margin-bottom: 15px}
	.wishlist_table.mobile li .additional-info-wrapper .product-remove a i{font-size: 30px;}
	.wishlist_table.mobile li .item-details table.item-details-table td,.wishlist_table.mobile li table.additional-info td{font-size: .9em;}

}
@media(max-width:979px) {
	.widget_calendar .calendar_wrap table th, .widget_calendar .calendar_wrap table td { padding: 2px }
	.commentlist .comment-respond .comment-form-author, .comment-respond .comment-form-email, .comment-respond .comment-form-url, .comment-respond .comment-form-author, .comment-respond .comment-form-email, .comment-respond .comment-form-url { width: 100%; margin-right: 0 }
	.comment-form-cookies-consent label { padding-left: 0px; margin-top: -32px }
	.admin-bar header.style-one { top: 32px; }
	header form.search-form .form-row .has-content ~ label, header form.search-form .form-row input:focus ~ label { top: -58px; }
	header form.search-form .form-row label { font-size: 28px; }

	/* woocommerce */
	#vertical-menu-sub-main ul.shop_list li.search-btn .search-form input {padding-right: 15px;}
	#vertical-menu-sub-main ul.shop_list .blue-btn.button {padding: 10px 20px;}
}


@media(max-width:777px) {
	.admin-bar header.style-one { top: 46px; }
	header.style-one .sub-header, .admin-bar header.menu-sticky .main-header { padding: 10px 15px; }
}
@media(max-width:767px) {
	header form.search-form .form-row label { text-align: left; font-size: 30px; top: -7px; }
	header form.search-form .form-row .has-content ~ label, header form.search-form .form-row input:focus ~ label { top: -55px; }
	header .search { padding: 0 30px; }
	header.header-three .sub-header-three { display: none; }
	header.style-one .sub-header .request-btn a { padding: 14px 30px; margin-left: 0px; right: -15px; top: 2px; }
	header.style-one .sub-header .request-btn a:before { width: 126%; }
	header.style-one .sub-header .social-icone { margin-left: 0px; }
	header .sub-header .number-info li, header .sub-header .number-info li:last-child { border: none; }
	header.style-one .container-fluid.sub-header .row .col-auto.mr-auto { background: #eff1fe; }
	header.style-one .sub-header .number-info li:last-child { text-align: right; }
	.mc4wp-form-fields { display: block; }
	footer.footer-one .mc4wp-form-fields input[type="submit"] { right: 0; margin-top: 30px; }
	.box-effect .feature-info { width: 100%; }
	.iq-faq .iq-faq-title { padding: 15px 15px; }
	.iq-faq .iq-faq-details { padding: 0 15px 30px; }
	.iq-testimonial { padding: 0 15px; }
	.page-numbers li .prev.page-numbers, .page-numbers li .next.page-numbers { display: none }
	section .elementor-section.elementor-section-boxed.bg_white>.elementor-container { padding: 30px 15px 60px; }
	.elementor-shortcode .mc4wp-form [type=submit] { margin-left: 15px; }

	.error-404 .big-text { font-size: 200px }
	.contact-block .vc_column-inner, .widget-area { margin-top: 30px }
	.commentlist .iq-comment-wrap { display: block }
	.commentlist ol.children { padding-left: 30px }
	.commentlist .iq-comments-photo { padding-right: 0; margin-bottom: 15px }
	.iq-mt-120 { margin-top: 0; }
	.scrolling-text { font-size: 42px; line-height: 52px; left: 15px; }
	.no-margin .iq-mb-30, .iq-mb-30 { margin-bottom: 30px !important; }
	.no-margin .iq-mt-30, .iq-mt-30 { margin-top: 30px !important; }
	.iq-objects-style-1:before, .iq-objects-style-2:before { height: 100%; }
	.iq-objects-style-2 .iq-objects-02 { top: 33%; }
	.iq-objects-style-2:before { top: 0; }
	.iq-breadcrumb.text-left, .iq-breadcrumb .text-left, .copyright-footer { text-align: center !important; }
	.iq-breadcrumb .float-right { float: none !important; }
	.footer-subscribe .vc_custom_heading { margin-bottom: 15px; }
	.iq-breadcrumb .title { font-size: 32px; }
	.iq-breadcrumb.text-left .breadcrumb li, .iq-breadcrumb.text-left .breadcrumb li a { font-size: 14px; }
	.copyright-footer .col-auto { display: inline-block; width: 100%; }
	.iq-enerzee-price.active { margin-top: 30px; }
	.iq-feature-circle { height: 450px; width: 100%; }
	.iq-feature-circle .iq-img::before, .iq-feature-circle .iq-img { height: 400px; width: 400px; }
	footer .footer-topbar { width: 100%; margin: 0 auto; }
	footer.footer-one .enerzee-subscribe { padding: 30px 0; }
	.elementor-shortcode .mc4wp-form input[type=email] { width: 100%; margin-bottom: 30px; }
	.button.mr-sm-4 { margin-right: 30px; }
	.elementor-section.elementor-section-boxed.bg_white>.elementor-container { padding: 30px; }	
	

	/* Woocommerce Css */
	.woocommerce .products.columns-4 li.product {width: calc(50% - 30px) !important;}
	.woocommerce table.shop_table_responsive tr td, .woocommerce-page table.shop_table_responsive tr td {display: inline-block;width: 100%;}
	.woocommerce .quantity .qty{border: 1px solid var(--text-color);}
	.product-quantity .quantity {float: right;}
	.summary.entry-summary .yith-wcwl-add-to-wishlist{position: relative;top: 0px;right: 0px;left: 0px;}
    .woocommerce-page form .form-row-first, .woocommerce-page form .form-row-last {width: 100%;}
	.woocommerce .woocommerce-ordering, .woocommerce-page .woocommerce-ordering {float: inherit;}
	.woocommerce-account .woocommerce-MyAccount-navigation{margin-bottom: 30px;}

	/* Woocommerce header */
	header .navbar .sub-main ul.shop_list li {margin-right: 15px;}
	
}
@media(max-width:527px) {
	.sub-header .social-icone { display: none; }
	header.style-one .sub-header, .admin-bar header.menu-sticky .main-header { padding: 15px; }
}
@media(max-width:654px) {
	.comment-form-cookies-consent label { margin-left: 30px; }
}
@media(max-width:576px) {
	.responsive-vertical-logo-btn .blue-btn.button { display: none; }
	header .navbar .sub-main .blue-btn.button{display: none;}
}
@media(max-width:479px) {
	header form.search-form .form-row label { font-size: 24px; top: -18px; }
	.search-form .search-submit { padding: 7px 15px; }
	.search-form .search-submit i { font-size: 16px; }
	header .search-form input { font-size: 24px; }
	header form.search-form .form-row .has-content ~ label, header form.search-form .form-row input:focus ~ label { top: -45px; }
	header .navbar-light .navbar-toggler { right: 0; }
	header.two .request-btn .button, .iq-breadcrumb-one .breadcrumb li:last-child::after { display: none; }
	header .sub-header .number-info li a { font-size: 12px; }
	header.style-one .sub-header .request-btn a:before { width: 260%; left: -15px; }
	header .navbar .sub-main .blue-btn.button { display: none; }
	header .navbar .sub-main ul.shop_list li:first-child { right: 0; }
	.sub-header .social-icone { display: none; }
	.iq-amazing-tab .nav-tabs { -webkit-border-radius: 10px; -moz-border-radius: 10px; padding: 5px; border-radius: 10px; }
	.iq-amazing-tab .nav-tabs .nav-link { -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; }
	.iq-blog-box   .iq-blog-meta ul li:last-child { margin-bottom: 0; }
	.button.mr-sm-4 { margin-right: 15px; }
	.iq-enerzee-price.active::before, .iq-enerzee-price:hover::before { display: none; }
	.elementor-shortcode .mc4wp-form [type=submit] { margin-left: 0; }
	.iq-enerzee-price-2 .iq-enerzee-price-info { padding: 30px; }
	.iq-feature-circle { height: 300px; }
	.iq-feature-circle .iq-img::before, .iq-feature-circle .iq-img { height: 250px; width: 250px; }
	.iq-feature-circle .dot-circle { display: none; }
	.iq-feature-circle .iq-img ul li .feature-info .feature-img { height: 45px; width: 45px; line-height: 45px; font-size: 24px; }
	.iq-feature-circle .circle-bg { height: 100px; line-height: 100px; width: 100px; }
	.iq-feature-circle .circle-bg img { width: 60px; }
	.iq-feature-circle .iq-img ul li:nth-child(1) .feature-info { top: -24px; }
	.iq-feature-circle .iq-img ul li:nth-child(2) .feature-info { left: -8%; top: 39%; }
	.iq-feature-circle .iq-img ul li:nth-child(3) .feature-info { right: -8%; top: 39%; }
	.iq-amazing-tab .nav-tabs li { margin-right: 0; }
	.iq-blog-box .iq-blog-detail, .has-post-thumbnail .iq-blog-box .iq-blog-detail { padding: 15px; }
	ul.list-column-two, ul.list-column-three, ul.list-column-four { columns: 1; -webkit-columns: 1; -moz-columns: 1; }
	.iq-feature-list.text-left { display: block; margin-bottom: 10px; width: 100%; float: left; }
	.iq-feature-list.text-left .iq-icon { margin-bottom: 30px; }
	.iq-feature-list.text-left .feature-info { float: left; margin-left: 0; width: 100%; }
	.iq-feature .iq-icon { margin-bottom: 15px; display: block; }
	.iq-feature-info { display: block; }
	.iq-progress-bar { width: 80%; }
	.owl-carousel.blog-carousel .owl-item { padding: 0; }
	.owl-carousel .iq-blog-box .iq-blog-detail { padding: 15px; }
	.iq-amazing-tab .nav-tabs .nav-link span::before { display: none; }
	.error-404 .big-text { font-size: 150px; line-height: 160px }
	header .request-btn, header .social-icone { display: none; }
	header .navbar-light .navbar-toggler { right: 0; }
	.scrolling-text { font-size: 32px; line-height: 42px; }
	.iq-amazing-tab .nav-tabs .nav-link span { width: 100%; height: 100%; }
	.iq-amazing-tab .nav-tabs .nav-item { width: 100%; margin-bottom: 15px; }
	.iq-amazing-tab .nav-tabs .nav-link.active span, .iq-amazing-tab .nav-tabs .nav-link:hover span { background: #ff7364; }
	.iq-amazing-tab .nav-tabs .nav-link::before { display: none; }
	.iq-faq .iq-faq-title:before { right: 15px; }
	.iq-faq .iq-faq-title { padding: 15px 30px 15px 15px; }
	.iq-portfolio .iq-portfolio-content .consult-details h3.link-color { font-size: 24px; }
	.iq-portfolio .iq-portfolio-content .consult-details { margin-bottom: 15px; }
	ul.tab-style-one li { margin-right: 11px; }
	ul.tab-style-one li.iq-icon .nav-link { width: 60px; height: 60px; line-height: 60px; }
	ul.tab-style-one li.iq-icon i { line-height: 60px; }

	header .navbar-light .navbar-brand img.logo {width: 130px;}
	header.menu-sticky .navbar-light .navbar-brand img.logo { width: 130px; }

    /* Header-Wooccommerce */
	header ul.shop_list li .search-box .search-submit {display: none;}
	header .navbar .sub-main ul.shop_list li.search-btn {display: none;}

	.woocommerce ul.products[class*=columns-] li.product, .woocommerce-page ul.products[class*=columns-] li.product {width: 100%;}
	.woocommerce .products.columns-4 li.product {width: calc(100% - 30px) !important;}


}
@media(max-width:359px) {
	header.header-three .sub-header { display: block; }
	header.style-one li .search-box input[type="search"] { right: -8px; }
	header li .search-box input[type="search"]:focus { width: 235px; }
	header.style-one .search-box { display: none }
	.sub-header { display: none }

	header ul.shop_list{right: 57px;}
	header .navbar .sub-main ul.shop_list li {margin-right: 10px;}
}