@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon.woff2") format("woff2"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

i{
  font-style: normal;
}

.fimanager:before {
      display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    display: block;
}

.flaticon::before {
  font-family: "Flaticon";
}

.flaticon-001-car-battery:before { content: "\f100"; }
.flaticon-002-point-of-service:before { content: "\f101"; }
.flaticon-003-bio-energy:before { content: "\f102"; }
.flaticon-004-gasoline:before { content: "\f103"; }
.flaticon-005-bio-mass:before { content: "\f104"; }
.flaticon-006-flask:before { content: "\f105"; }
.flaticon-007-building:before { content: "\f106"; }
.flaticon-008-light-bulb:before { content: "\f107"; }
.flaticon-009-low-battery:before { content: "\f108"; }
.flaticon-010-factory:before { content: "\f109"; }
.flaticon-011-house:before { content: "\f10a"; }
.flaticon-012-planet-earth:before { content: "\f10b"; }
.flaticon-013-solar-energy:before { content: "\f10c"; }
.flaticon-014-light-bulb:before { content: "\f10d"; }
.flaticon-015-eco-house:before { content: "\f10e"; }
.flaticon-016-eco-friendly:before { content: "\f10f"; }
.flaticon-017-eco-fuel:before { content: "\f110"; }
.flaticon-018-eco-house:before { content: "\f111"; }
.flaticon-019-light-bulb:before { content: "\f112"; }
.flaticon-020-electric-car:before { content: "\f113"; }
.flaticon-021-light-bulb:before { content: "\f114"; }
.flaticon-022-light-bulb:before { content: "\f115"; }
.flaticon-023-light-bulb:before { content: "\f116"; }
.flaticon-024-light-bulb:before { content: "\f117"; }
.flaticon-025-light-bulb:before { content: "\f118"; }
.flaticon-026-factory:before { content: "\f119"; }
.flaticon-027-pinwheel:before { content: "\f11a"; }
.flaticon-028-bonfire:before { content: "\f11b"; }
.flaticon-029-bonfire:before { content: "\f11c"; }
.flaticon-030-flash:before { content: "\f11d"; }
.flaticon-031-gasoline:before { content: "\f11e"; }
.flaticon-032-analytics:before { content: "\f11f"; }
.flaticon-033-house:before { content: "\f120"; }
.flaticon-034-hydro-power:before { content: "\f121"; }
.flaticon-035-hydro-power:before { content: "\f122"; }
.flaticon-036-nuclear-energy:before { content: "\f123"; }
.flaticon-037-nuclear-energy:before { content: "\f124"; }
.flaticon-038-solar-panel:before { content: "\f125"; }
.flaticon-039-pinwheel:before { content: "\f126"; }
.flaticon-040-invoice:before { content: "\f127"; }
.flaticon-041-idea:before { content: "\f128"; }
.flaticon-042-businessmen:before { content: "\f129"; }
.flaticon-043-power:before { content: "\f12a"; }
.flaticon-044-power:before { content: "\f12b"; }
.flaticon-045-nuclear-plant:before { content: "\f12c"; }
.flaticon-046-nuclear:before { content: "\f12d"; }
.flaticon-047-nuclear-plant:before { content: "\f12e"; }
.flaticon-048-light-bulb:before { content: "\f12f"; }
.flaticon-049-light-bulb:before { content: "\f130"; }
.flaticon-050-light-bulb:before { content: "\f131"; }
.flaticon-051-power:before { content: "\f132"; }
.flaticon-052-light-bulb:before { content: "\f133"; }
.flaticon-053-green-power:before { content: "\f134"; }
.flaticon-054-clipboard:before { content: "\f135"; }
.flaticon-055-save-energy:before { content: "\f136"; }
.flaticon-056-solar-energy:before { content: "\f137"; }
.flaticon-057-solar-energy:before { content: "\f138"; }
.flaticon-058-solar-energy:before { content: "\f139"; }
.flaticon-059-solar-energy:before { content: "\f13a"; }
.flaticon-060-solar-energy:before { content: "\f13b"; }
.flaticon-061-sun:before { content: "\f13c"; }
.flaticon-062-sync:before { content: "\f13d"; }
.flaticon-063-target:before { content: "\f13e"; }
.flaticon-064-businessman:before { content: "\f13f"; }
.flaticon-065-save-energy:before { content: "\f140"; }
.flaticon-066-sunset:before { content: "\f141"; }
.flaticon-067-windmill:before { content: "\f142"; }
.flaticon-068-eolic-energy:before { content: "\f143"; }
.flaticon-069-save-energy:before { content: "\f144"; }
.flaticon-070-eco-energy:before { content: "\f145"; }
.flaticon-071-electric-tower:before { content: "\f146"; }
.flaticon-072-brainstorming:before { content: "\f147"; }
.flaticon-073-solar-energy:before { content: "\f148"; }
.flaticon-074-eco-fuel:before { content: "\f149"; }
.flaticon-075-wind-mill:before { content: "\f14a"; }